/* FILEPATH: /c:/xampp/htdocs/Tugas Web E-Gov/style.css */
body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #007bff;
  margin: 0;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/WEB-PROFIL-tanpa-nama.jpg);
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card.attr {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.card.attr:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card-img-top {
  height: 20vh;
}

.card-img-overlay {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 86%);
}

.img-layanan {
  width: 100%;
  height: 30vh;
}

.layanan{
  max-width: 40vh;
}

.isi-berita {
  max-width: 50%;
  text-wrap: wrap;
}

.img-header {
  max-width: 25%;
}